<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.habithelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitHelper" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlZbwawloxFH4MyqJQAQQAeKS7N0iGLIM" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ViewHabitEventsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewHabitsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateHabitEventActivity"
            android:exported="false" />
        <activity
            android:name=".CreateHabitActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LocationPickerActivity"
            android:exported="false"/>
        <activity
            android:name=".showLocationActivity"
            android:exported="false"/>

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDlZbwawloxFH4MyqJQAQQAeKS7N0iGLIM" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

    <uses-feature android:name="android.hardware.camera" />
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>



</manifest>